<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="http://{{ host }}/CSS/permisos/bebidas.css">
	<title>Bebidas</title>
</head>
<body>
	<header id="globalHeader">
		<img src="http://{{ host }}/IMG/pdfHeader.png">
	</header>

	<section id="section">
		<header>
			PERMISO ESPECIAL PARA VENTA DE BEBIDAS ALCOHÓLICAS
		</header>
		<section id="bodySection">
			<div class="outTitle">
				<p><b>F. DE ELABORACIÓN DEL PERMISO</b></p>
				<div>
					<p>h</p>
					<span>{{ habilitacion }}</span>
				</div>
			</div>
			<div class="insideTitle">
				<p>d<br>d</p>
				<div>
					<p><b>NÚMERO DE PERMISO:</b></p>
					<span>{{ codigo }}</span>
				</div>
			</div>
			<div class="outTitle">
				<p><b>F. DE VENCIMIENTO DEL PERMISO</b></p>
				<div>
					<p>h</p>
					<span>{{ vencimiento }}</span>
				</div>
			</div>
			<div class="clear"></div>

			<section style="width: 100%; padding: 0;">
				<div class="cm8">
					<p><b>NOMBRE Y APELLIDO:</b></p>
					<span>{{ requisitor }}</span>
				</div>
				<div class="cm4">
					<p><b>C.I. O RIF:</b></p>
					<span>{{ ci }}</span>
				</div>
				<div class="cm4">
					<p><b>HORARIO:</b></p>
					<span>{{ horario }}</span>
				</div>
				<div class="clear"></div>

				<div class="all">
					<p><b>DIRECCIÓN DE HABITACIÓN Y TELÉFONO:</b></p>
					<span>{{ hab_telf }}</span>
				</div>
				<div class="all">
					<p><b>SECTOR Y ÁREA PERMISADA:</b></p>
					<span>{{ area_permisada }}</span>
				</div>


				<div class="inf">
					<b>ESTE PERMISO SE OTORGA PARA LA VENTA DE BEBIDAS ALCOHÓLICAS EN EVENTOS SOCIALES, TURÍSTICOS Y CULTURALES DENTRO DEL MUNICIPIO TURÍSTICO EL MORRO "LICENCIADO DIEGO BAUTISTA URBANEJA" A PARTIR DE LA FECHA DE EXPEDICIÓN AUTORIZADA HASTA SU VENCIMIENTO.</b>
				</div>

				<div class="inf">
					<p><b>1.</b> Prohibida la venta de bebidas alcohólicas a menores de edad.</p>
					<p><b>2.</b> Mantener limpias las áreas donde se desarrolla la actividad.</p>
					<p><b>3.</b> Fijar lista de precios a la vista del consumidor.</p>
					<p><b>4.</b> Colocar recipientes para la basura.</p>
					<p><b>5.</b> Cumplir con el horario establecido en este permiso.</p>
					<p><b>6.</b> Estar al día con el pago de impuesto correspondiente determinado por la alcaldía.</p>
					<p><b>7.</b> Prohibida la venta autorizada por este permiso en otra área fuera del sitio establecido.</p>
					<p><b>8.</b> Prohibida la venta ambulante de las bebidas alcohólicas.</p>
					<p><b>9.</b> El presente permiso de funcionamiento es intransferible.</p>
					<p><b>10.</b> La violación de la fecha de vencimiento acarrea sanción y podría tener como pena máxima la imposibilidad de renovar el permiso por un lapso de 10 años.</p>
					<p><b>11.</b> El incumplimiento de alguna de las cláusulas establecidas en este permiso acarrea sanciones tributarias o multas de hasta 3 sueldos mínimos actuales y la suspensión inmediata del permiso.</p>
				</div>

			</section>
		</section>
	</section>
	<footer id="globalFooter">
		<img src="http://{{ host }}/IMG/pie.png">
	</footer>

	<header id="secondHeader">
		<img src="http://{{ host }}/IMG/secondHeader.png">
	</header>
	<section id="secondSection">
		<div id="autorizationSection">
			<b>AUTORIZADO PARA:</b>
			<p><b>VENTA DE BEBIDAS ALCOHÓLICAS</b></p>
		</div>

		<div id="finalMessage">
			<p><b>PARA TODO LO PREVISTO EN ESTE PERMISO SE TOMARÁN EN CUENTA LAS NORMAS ESTABLECIDAS EN LAS LEYES ESPECIALES RELACIONADA CON LA MATERIA.</b></p>
			<p><b>LA EXPEDICIÓN DE CUALQUIER PERMISO FUERA DE LA FECHA ESTIPULADA EN ESTE DOCUMENTO ESTARÍA VIOLANDO LA NORMATIVA DE NUESTRO MUNICIPIO.</b></p>
		</div>

		<pre>
             ____________________                                 ____________________
         <b>Dirección de Asuntos Públicos</b>                         <b>Dirección de Administración</b>
                                                                       <b>Tributaria</b>
		</pre>
	</section>
</body>
</html>