<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="http://{{ host }}/CSS/reporte.css">
</head>
<body>
	<header id="globalHeader">
		<img src="http://{{ host }}/IMG/pdfHeader.png">
		<div>
			 {{ titleReport }}
		</div>
	</header>
	<section id="section">
		<div class="registros">
			<header class="allPermits"><b>Permisos ({{ cuentas }})</b></header>
			<section>
				<table>
					<tr>
						<th>Código</th>
						<th>F. de Registro</th>
						<th>Autorizado por el DAT</th>
						<th>Estado</th>
					</tr>
					 {{ todos }}
				</table>
			</section>
		</div>

		 {{ html }}

	</section>
</body>
</html>